[Unit]
Description=Spring boot project service
After=syslog.target

[Service]
Type=simple
User=microservice
Group=microservice
ExecStart=/opt/has/bin/springboot-start-project start
ExecStop=/opt/has/bin/springboot-start-project stop
ExecReload=/opt/has/bin/springboot-start-project reload

[Install]
WantedBy=multi-user.target
